# The number of milliseconds of each tick
tickTime={{ include "arkcase.tools.conf" (dict "ctx" $ "value" "tickTime") }}

# The number of ticks that the initial 
# synchronization phase can take
initLimit={{ include "arkcase.tools.conf" (dict "ctx" $ "value" "initLimit") }}

# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit={{ include "arkcase.tools.conf" (dict "ctx" $ "value" "syncLimit") }}

# Enable the admin server (??)
admin.enableServer=true

# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir=/app/data

# the port at which the clients will connect
client.portUnification=true
clientPort=2181
secureClientPort=2281
quorumListenOnAllIPs=true
sslQuorum=true

# the maximum number of client connections.
# increase this if you need to handle more clients
maxClientCnxns={{ include "arkcase.tools.conf" (dict "ctx" $ "value" "maxClients") }}

# Whitelist commands for use by SOLR
4lw.commands.whitelist=mntr,conf,ruok

{{- $autoPurgeInterval := (include "arkcase.tools.conf" (dict "ctx" $ "value" "autopurge.purgeInterval") | atoi) }}
{{- if and $autoPurgeInterval (ge $autoPurgeInterval 1) }}
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# https://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
autopurge.snapRetainCount={{ include "arkcase.tools.conf" (dict "ctx" $ "value" "autopurge.snapRetainCount") }}
# Purge task interval in hours
# Set to "0" to disable auto purge feature
autopurge.purgeInterval={{ $autoPurgeInterval }}
{{- end }}

{{- $metrics := (include "arkcase.tools.conf" (dict "ctx" $ "value" "metrics.enable")) }}
{{- if (include "arkcase.toBoolean" $metrics) }}
## Metrics Providers
#
# https://prometheus.io Metrics Exporter
metricsProvider.className=org.apache.zookeeper.metrics.prometheus.PrometheusMetricsProvider
metricsProvider.httpHost=0.0.0.0
metricsProvider.httpPort=7000
{{- $jvm := (include "arkcase.tools.conf" (dict "ctx" $ "value" "metrics.jvm")) }}
metricsProvider.exportJvmInfo={{ not (empty (include "arkcase.toBoolean" $jvm)) }}
{{- end }}

{{- $cluster := (include "arkcase.cluster" $ | fromYaml) }}
{{- $nodes := (include "arkcase.zookeeper.nodes" $cluster.nodes | atoi) -}}
{{- if (gt $nodes 1) }}
cnxTimeout=60

  {{- $service := (include "arkcase.service.headless" $) }}
  {{- $pod := (include "arkcase.fullname" $) }}
  {{- range $n := (until $nodes ) }}
server.{{ add $n 1 }}={{ printf "%s-%d.%s" $pod $n $service }}:2888:3888
  {{- end }}
{{- end }}
