################################################################################
#
# The licenses must be contained within global.licenses
#
#   * All licenses must be base-64 encoded, like so:
#
#     licenseValue: |-
#       Yf39fES+xgnSd60b8dtr2ciOoAaJcVPbt4UbDdxrTWfKO4YJRTsQxqN6yIrkmrrSbWrhM0H1MWOS
#       xQhsjME1rclEEYgYMpUejOuPN02pDsfofsmWyf4EML3epNIrbWvxSKr6sZe7yKvYNQIF1E4FNxyZ
#       ...
#
#   * Text-style licenses should also be base-64 encoded, and it will be up to the
#     charts that consume them to perform the decoding.
#
# Always resort to the documentation for clarity regarding how the licenses must
# be provided for consumption by their required components.
#
# Remember that in YAML...
#
#    |   -> preserve line endings in the value, keep a single newline at the end
#    |-  -> preserve line endings in the value, no newline at the end
#    |+  -> preserve line endings in the value, keep all newlines at the end
#
#    >   -> replace line endings with spaces in the value, keep a single newline at the end
#    >-  -> replace line endings with spaces in the value, no newline at the end
#    >+  -> replace line endings with spaces in the value, keep all newlines at the end
#
################################################################################
global:
  licenses:
    
    ########################################
    # There are 3 licenses required for
    # PDFTron: for the document viewer, for
    # the audio/video viewer, and for the
    # PDFNet backend library. The Helm
    # templates will do the Base64 decoding
    # of the values.
    ########################################
    pdftron:

      #
      # The browser-embedded PDFTron document viewer (PDF)
      #
      viewer: |-
        Yf39fES+xgnSd60b8dtr2ciOoAaJcVPbt4UbDdxrTWfKO4YJRTsQxqN6yIrkmrrSbWrhM0H1MWOS
        xQhsjME1rclEEYgYMpUejOuPN02pDsfofsmWyf4EML3epNIrbWvxSKr6sZe7yKvYNQIF1E4FNxyZ
        # ...
        ip7xmOa75sZJLQqFAwjXpsvP2yg27w7i4XLlSw==

      #
      # The browser-embedded PDFTron viewer for audio and video files
      #
      audioVideo: |-
        Yf39fES+xgnSd60b8dtr2ciOoAaJcVPbt4UbDdxrTWfKO4YJRTsQxqN6yIrkmrrSbWrhM0H1MWOS
        xQhsjME1rclEEYgYMpUejOuPN02pDsfofsmWyf4EML3epNIrbWvxSKr6sZe7yKvYNQIF1E4FNxyZ
        # ...
        ip7xmOa75sZJLQqFAwjXpsvP2yg27w7i4XLlSw==

      #
      # The backend PDFTron libraries used by the ArkCase server application
      #
      pdfnet: |-
        Yf39fES+xgnSd60b8dtr2ciOoAaJcVPbt4UbDdxrTWfKO4YJRTsQxqN6yIrkmrrSbWrhM0H1MWOS
        xQhsjME1rclEEYgYMpUejOuPN02pDsfofsmWyf4EML3epNIrbWvxSKr6sZe7yKvYNQIF1E4FNxyZ
        # ...
        ip7xmOa75sZJLQqFAwjXpsvP2yg27w7i4XLlSw==

    ########################################
    # The Alfresco license is provided as
    # a base64 blob
    ########################################
    alfresco: |-
      Yf39fES+xgnSd60b8dtr2ciOoAaJcVPbt4UbDdxrTWfKO4YJRTsQxqN6yIrkmrrSbWrhM0H1MWOS
      xQhsjME1rclEEYgYMpUejOuPN02pDsfofsmWyf4EML3epNIrbWvxSKr6sZe7yKvYNQIF1E4FNxyZ
      # ...
      ip7xmOa75sZJLQqFAwjXpsvP2yg27w7i4XLlSw==
 
    ########################################
    # The licenses for Pentaho are provided
    # as an array of binary objects. Their
    # names don't really matter
    ########################################
    pentaho:

      #
      # Pentaho Analysis Enterprise Edition.lic
      #
      - |-
        Yf39fES+xgnSd60b8dtr2ciOoAaJcVPbt4UbDdxrTWfKO4YJRTsQxqN6yIrkmrrSbWrhM0H1MWOS
        xQhsjME1rclEEYgYMpUejOuPN02pDsfofsmWyf4EML3epNIrbWvxSKr6sZe7yKvYNQIF1E4FNxyZ
        # ...
        ip7xmOa75sZJLQqFAwjXpsvP2yg27w7i4XLlSw==

      #
      # Pentaho BI Platform Enterprise Edition.lic
      #
      - |-
        Yf39fES+xgnSd60b8dtr2ciOoAaJcVPbt4UbDdxrTWfKO4YJRTsQxqN6yIrkmrrSbWrhM0H1MWOS
        xQhsjME1rclEEYgYMpUejOuPN02pDsfofsmWyf4EML3epNIrbWvxSKr6sZe7yKvYNQIF1E4FNxyZ
        # ...
        ip7xmOa75sZJLQqFAwjXpsvP2yg27w7i4XLlSw==

      #
      # Pentaho Dashboard Designer.lic
      #
      - |-
        Yf39fES+xgnSd60b8dtr2ciOoAaJcVPbt4UbDdxrTWfKO4YJRTsQxqN6yIrkmrrSbWrhM0H1MWOS
        xQhsjME1rclEEYgYMpUejOuPN02pDsfofsmWyf4EML3epNIrbWvxSKr6sZe7yKvYNQIF1E4FNxyZ
        # ...
        ip7xmOa75sZJLQqFAwjXpsvP2yg27w7i4XLlSw==

      #
      # Pentaho PDI Enterprise Edition.lic
      #
      - |-
        Yf39fES+xgnSd60b8dtr2ciOoAaJcVPbt4UbDdxrTWfKO4YJRTsQxqN6yIrkmrrSbWrhM0H1MWOS
        xQhsjME1rclEEYgYMpUejOuPN02pDsfofsmWyf4EML3epNIrbWvxSKr6sZe7yKvYNQIF1E4FNxyZ
        # ...
        ip7xmOa75sZJLQqFAwjXpsvP2yg27w7i4XLlSw==

      #
      # Pentaho Reporting Enterprise Edition.lic
      #
      - |-
        Yf39fES+xgnSd60b8dtr2ciOoAaJcVPbt4UbDdxrTWfKO4YJRTsQxqN6yIrkmrrSbWrhM0H1MWOS
        xQhsjME1rclEEYgYMpUejOuPN02pDsfofsmWyf4EML3epNIrbWvxSKr6sZe7yKvYNQIF1E4FNxyZ
        # ...
        ip7xmOa75sZJLQqFAwjXpsvP2yg27w7i4XLlSw==
