mariadb:
  port: 3306
  jdbc:
    driver: org.mariadb.jdbc.Driver
    format: "jdbc:mariadb://${HOSTNAME}:${PORT}/${DATABASE}?useSSL=true&requireSsl=true&enabledSslProtocolSuites=TLSv1.2"

mysql:
  port: 3306
  jdbc:
    driver: com.mysql.cj.jdbc.Driver
    format: "jdbc:mysql://${HOSTNAME}:${PORT}/${DATABASE}?useSSL=true&autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&enabledTLSProtocols=TLSv1.2"

oracle:
  port: 1521
  jdbc:
    # Oracle seems to be the only one that doesn't support enabling SSL/TLS with parameters
    driver: oracle.jdbc.driver.OracleDriver
    format: "jdbc:oracle:thin:@${HOSTNAME}:${PORT}${INSTANCE}"
    instance:
      format: "/${INSTANCE}"
  aliases:
    - orcl

postgresql:
  port: 5432
  jdbc:
    driver: org.postgresql.Driver
    format: "jdbc:postgresql://${HOSTNAME}:${PORT}/${DATABASE}?ssl=true"
  aliases:
    - psql
    - postgres

sqlserver:
  port: 1433
  jdbc:
    driver: com.microsoft.sqlserver.jdbc.SQLServerDriver
    format: "jdbc:sqlserver://${HOSTNAME}${INSTANCE}:${PORT};DatabaseName=${DATABASE};encrypt=true;trustServerCertificate=false;"
    instance:
      format: "\\${INSTANCE}"
  aliases:
    - mssql
