mysql: &mysql
  dialect: &dialect mysql5
  filesDialect: *dialect
  reports: mysql
  databaseType: MySQL
  port: 3306
  scripts: mysql
  quartz: StdJDBCDelegate
  jdbc:
    driver: com.mysql.cj.jdbc.Driver
    type: mysql
    format: "jdbc:mysql://${HOSTNAME}:${PORT}/${DATABASE}?sslMode=VERIFY_IDENTITY&treatMysqlDatetimeAsTimestamp=true"
  validationQuery: "SELECT 1"
  aliases:
    - mariadb
    - mysql5
    - mysql8

oracle10g: &oracle10g
  dialect: &dialect oracle10g
  filesDialect: *dialect
  reports: oracle
  databaseType: Oracle
  port: 1521
  quartz: oracle.OracleDelegate
  jdbc:
    driver: oracle.jdbc.driver.OracleDriver
    type: oracle
    format: "jdbc:oracle:thin:@${HOSTNAME}:${PORT}${INSTANCE}"
    instance:
      format: "/${INSTANCE}"
  validationQuery: "SELECT 1 FROM DUAL"
  aliases:
    - orcl
    - oracle
    - orcl10
    - orcl10g
    - oracle10

oracle12c:
  <<: *oracle10g
  scripts: oracle12c
  aliases:
    - orcl12
    - orcl12c
    - oracle12

postgresql:
  dialect: &dialect postgresql
  filesDialect: *dialect
  reports: *dialect
  databaseType: PostgreSQL
  port: 5432
  quartz: PostgreSQLDelegate
  jdbc:
    driver: org.postgresql.Driver
    type: postgresql
    format: "jdbc:postgresql://${HOSTNAME}:${PORT}/${DATABASE}?ssl=true"
  validationQuery: "SELECT 1"
  aliases:
    - psql
    - postgres

sqlserver:
  dialect: &dialect sqlserver
  filesDialect: *dialect
  reports: &mssql mssql
  databaseType: MS SQL Server
  port: 1433
  quartz: MSSQLDelegate
  jcr: *mssql
  jdbc:
    driver: com.microsoft.sqlserver.jdbc.SQLServerDriver
    type: sqlserver
    format: "jdbc:sqlserver://${HOSTNAME}${INSTANCE}:${PORT};DatabaseName=${DATABASE};encrypt=true;trustServerCertificate=false;"
    instance:
      format: "\\${INSTANCE}"
  validationQuery: "SELECT 1"
  aliases:
    - *mssql
