# Default values for .arkcase_pentaho_ce
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This can be set to "false" by parent charts. If not defined, it will be taken as true
#enabled: true

#
# This should group all application-specific configurations
#
configuration:
  # Use the default journal type. The other type is mem (or memory)
  journalType: db

resources:
  development:
    limits: "2Gi,1"

platform: ""

image:
  # pullPolicy: IfNotPresent
  registry: "public.ecr.aws"

  deployer:
    repository: "arkcase/deployer"
    # tag: 1.1.1-01

  community:
    repository: "arkcase/pentaho-ce"
    # tag: &pentahoVersion "9.4.0.0"

    cron:
      repository: "arkcase/pentaho-ce"
      # tag: *pentahoVersion

  enterprise:
    registry: "207428623785.dkr.ecr.us-east-1.amazonaws.com"
    repository: "arkcase/pentaho-ee"
    # tag: *pentahoVersion

    cron:
      repository: "arkcase/pentaho-ee"
      # tag: *pentahoVersion

  smoke-test:
    repository: "arkcase/nettest"

# You generally shouldn't mess with these. These exist to support some name-generation templates
nameOverride: ""
fullnameOverride: ""

# Custom annotations to apply throughout
annotations:

# Custom labels to apply throughout
labels:

updateStrategy: RollingUpdate
rollingUpdatePartition: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations:
  # Annotations to add to the service account
  labels:
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

securityContext:
  # You must specify an `fsGroup` to allow MariaDB write access to mounted
  # volumes (as long as MariaDB runs as a non-root user, which should be the
  # case). Any random number will do.
  # fsGroup: 1998
  # fsGroupChangePolicy: OnRootMismatch
  # pentaho:
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true

#autoscaling:
  #enabled: false
  #minReplicas: 1
  #maxReplicas: 100
  #targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector:

tolerations:

affinity:

persistence:
  # If set to `false`, an `emptyDir` will be used instead and all other `persistence.*` parameters
  # are ignored.
  enabled: true

  # Set the default capacity for volumes in case none is assigned explicitly
  # and the default value is insufficient
  volumeSize:
    init: "1Gi"
    temp: "2Gi"
    data: "4Gi"
    logs: "2Gi"

#  The volumes for persistent data
  volumes:
# The volume where the data will be stored (RTFM for more info on how to
# properly declare volumes)
#     data:

licenses:
  - "pentaho"

service:
  pentaho:
    ports:
      - name: https
        protocol: TCP
        port: &https 8443
    probes: &pentahoProbes
      enabled: true
      spec: &baseProbeThreshold
        initialDelaySeconds: 0
        periodSeconds: 10
        timeoutSeconds: 10
        failureThreshold: 1
        successThreshold: 1
      startup:
        exec: &tomcatStartup
          command: [ "/usr/local/bin/tomcat-live", "STARTUP" ]
        failureThreshold: 90
      liveness:
        exec: &tomcatLiveness
          command: [ "/usr/local/bin/tomcat-live", "LIVENESS" ]
      readiness:
        httpGet:
          scheme: HTTPS
          port: *https
          path: "/pentaho"

##
## Configure extra options for containers' liveness and readiness probes
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#configure-probes
## @param service.probes.enabled Enable liveness and readiness probes
## @param service.probes.spec.initialDelaySeconds Initial delay seconds for liveness and readiness probes
## @param service.probes.spec.periodSeconds Period seconds for liveness and readiness probes
## @param service.probes.spec.timeoutSeconds Timeout seconds for liveness and readiness probes
## @param service.probes.spec.failureThreshold Failure threshold for liveness and readiness probes
## @param service.probes.spec.successThreshold Success threshold for liveness and readiness probes
##
