{{- if and (include "arkcase.subsystem.enabled" $) (not (include "arkcase.subsystem.external" $)) }}
{{- $cluster := (include "arkcase.cluster" $ | fromYaml) }}
{{- $replicas := ($cluster.replicas | int) -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "arkcase.fullname" $ | quote }}
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{- include "arkcase.labels.service" $ | nindent 4 }}
    {{- with ($.Values.labels).common }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with ($.Values.annotations).common }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ $replicas }}
  selector: &labelSelector
    matchLabels: {{- include "arkcase.labels.matchLabels" $ | nindent 6 }}
  strategy:
    type: {{ $.Values.updateStrategy }}
    {{- if (eq $.Values.updateStrategy "RollingUpdate") }}
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    {{- end }}
  template:
    metadata:
      name: {{ include "arkcase.fullname" $ | quote }}
      namespace: {{ $.Release.Namespace | quote }}
      labels: {{- include "arkcase.labels.service" $ | nindent 8 }}
        {{- include "arkcase.labels.deploys" "tika" | nindent 8 }}
        {{- with ($.Values.labels).common }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        # NB: Both these annotation values must be of type "string"
        prometheus.io/scrape: "true"
        prometheus.io/port: "9100"
        {{- with ($.Values.annotations).common }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      affinity:
        podAntiAffinity:
        {{- if $cluster.onePerHost }}
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: "kubernetes.io/hostname"
              namespaces: [ {{ $.Release.Namespace | quote }} ]
              labelSelector:
                <<: *labelSelector
        {{- else }}
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                topologyKey: "kubernetes.io/hostname"
                namespaces: [ {{ $.Release.Namespace | quote }} ]
                labelSelector:
                  <<: *labelSelector
        {{- end }}
      {{- include "arkcase.image.pullSecrets" $ | nindent 6 }}
      {{- with $.Values.hostAliases }}
      hostAliases: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if $.Values.schedulerName }}
      schedulerName: {{ $.Values.schedulerName | quote }}
      {{- end }}
      securityContext: {{- include "arkcase.securityContext" $ | nindent 8 }}
      terminationGracePeriodSeconds: 15
      initContainers:
        - name: init-set-permissions
          {{- include "arkcase.image" (dict "ctx" $ "name" "setperm" "repository" "arkcase/setperm") | nindent 10 }}
          env: {{- include "arkcase.tools.baseEnv" $ | nindent 12 }}
            - name: DATA_DIR
              value: &dataDir "/app/data"
            - name: INIT_DIR
              value: &initDir "/app/init"
            - name: JOBS
              value: |-
                jobs:
                  - ownership: {{ coalesce ($.Values.persistence).ownership "1999:1999" | quote }}
                    permissions: "u=rwX,g=rX,o="
                    flags: [ "recurse", "forced", "create", "changes" ]
                    targets: [ "$(DATA_DIR)", "$(INIT_DIR)" ]
          volumeMounts:
            - name: &dataVol "data"
              mountPath: *dataDir
            - name: &initVol "init"
              mountPath: *initDir
      containers:
        - name: tika
          {{- include "arkcase.image" $ | nindent 10 }}
          env: {{- include "arkcase.tools.baseEnv" $ | nindent 12 }}
            {{- include "arkcase.acme.env" $ | nindent 12 }}
            {{- include "arkcase.alt-java" $ | nindent 12 }}
            - name: DATA_DIR
              value: *dataDir
            - name: JAVA_TOOL_OPTIONS
              value: >-
                -XX:MinRAMPercentage=50.0
                -XX:MaxRAMPercentage=80.0
                -XX:+UseG1GC
            {{- if $.Values.env }}
              {{- $.Values.env | toYaml | nindent 12 }}
            {{- end }}
          {{- include "arkcase.subsystem.ports" $ | nindent 10 }}
          command: [ "/entrypoint" ]
          resources: {{- include "arkcase.resources" $ | nindent 12 }}
          securityContext: {{- include "arkcase.securityContext" (dict "ctx" $ "container" "tika") | nindent 12 }}
          volumeMounts:
            - name: *dataVol
              mountPath: *dataDir
            - name: *initVol
              mountPath: *initDir
            {{- include "arkcase.acme.volumeMount" $ | nindent 12 }}
            {{- include "arkcase.file-resource.volumeMount" (dict "ctx" $ "mountPath" "/entrypoint") | nindent 12 }}
            {{- include "arkcase.file-resource.volumeMount" (dict "ctx" $ "mountPath" "/app/conf/tika-config.xml" "subPath" "tika-config.xml") | nindent 12 }}
      volumes:
        - name: *initVol
          emptyDir:
            sizeLimit: 1Gi
        - name: *dataVol
          {{- if $.Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ include "arkcase.fullname" $ }}-data
          {{- else }}
          emptyDir:
            sizeLimit: {{ ((.Values.persistence).volumeSize).data | default "2Gi" }}
          {{- end }}
        {{- include "arkcase.acme.volume" $ | nindent 8 }}
        {{- include "arkcase.file-resource.volumes" $ | nindent 8 }}
  {{- include "arkcase.persistence.declareResources" (dict "ctx" $ "volume" "data") | nindent 0 }}
{{- end }}
