# Default values for tika
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This can be set to "false" by parent charts. If not defined, it will be taken as true
#enabled: true

#
# This should group all application-specific configurations
#
configuration:
# add your configurations here

resources:
  development:
    limits: "2Gi,1000m"

platform: ""

image:
  registry: "public.ecr.aws"

  # TODO: Hardcoded for testing with local docker image, will be changed when we have the ark_tika published with the required change
  tika:
    registry: ""
    repository: "arkcase/tika"
    tag: "local-test"
    pullPolicy: Never

  setperm:
    repository: "arkcase/setperm"
    tag: "latest"
    pullPolicy: IfNotPresent

# You generally shouldn't mess with these. These exist to support some name-generation templates
nameOverride: ""
fullnameOverride: ""

# Custom annotations to apply throughout
annotations:

# Custom labels to apply throughout
labels:

updateStrategy: RollingUpdate
rollingUpdatePartition: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations:
  # Annotations to add to the service account
  labels:
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

securityContext:
  # You must specify an `fsGroup` to allow Tika write access to mounted
  # volumes (as long as Tika runs as a non-root user, which should be the
  # case). Any random number will do.
  # fsGroup: 1999
  # fsGroupChangePolicy: OnRootMismatch

  tika:
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true

  #autoscaling:
  #enabled: false
  #minReplicas: 1
  #maxReplicas: 100
  #targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector:

tolerations:

affinity:

persistence:
  enabled: true
  volumeSize:
    init: "1Gi"
    data: "16Gi"
  volumes:
    data:
      capacity: "16Gi"
      accessModes:
        - ReadWriteOnce

service:
  #external: host-or-IP
  ports:
    - name: tika
      protocol: TCP
      port: &tika 8443
  ##
  ## Configure extra options for containers' liveness and readiness probes
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#configure-probes
  ## @param service.probes.enabled Enable liveness and readiness probes
  ## @param service.probes.spec.initialDelaySeconds Initial delay seconds for liveness and readiness probes
  ## @param service.probes.spec.periodSeconds Period seconds for liveness and readiness probes
  ## @param service.probes.spec.timeoutSeconds Timeout seconds for liveness and readiness probes
  ## @param service.probes.spec.failureThreshold Failure threshold for liveness and readiness probes
  ## @param service.probes.spec.successThreshold Success threshold for liveness and readiness probes
  ##
  probes:
    enabled: true
    spec:
      httpGet:
        scheme: HTTP
        path: "/tika"
        port: *tika
      initialDelaySeconds: 30
      periodSeconds: 10
      timeoutSeconds: 10
      failureThreshold: 3
      successThreshold: 1
    startup:
      failureThreshold: 90
