#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
#	daemon
	ca-base				/usr/local/etc/haproxy/trust/
	log					stdout format raw local0
	log-tag				haproxy
	pidfile				/var/lib/haproxy/haproxy.pid
	maxconn				4000
	ssl-default-bind-options	force-tlsv12
	ssl-default-server-options	force-tlsv12
	tune.ssl.default-dh-param	2048
	ssl-server-verify	required
	stats				socket /var/lib/haproxy/haproxy-stats
	localpeer			"${POD_NAME}"
	lua-load			/usr/local/etc/haproxy/lua/responses.lua

defaults
	log					global
	option				httplog
	option				dontlognull
#	option				httpchk
#	option				dontlog-normal
	option				http-server-close
	option				forwardfor except 127.0.0.0/8
	option				redispatch
	retries				3

	timeout				http-request		20s
	timeout				queue			6m
	timeout				connect			180s
	timeout				client			180s
	timeout				server			10m
	timeout				http-keep-alive		20s
	timeout				check			20s

#	TODO: Provide pretty versions of these!
#	errorfile			502 /usr/local/etc/haproxy/errors/armedia-error-502.http
#	errorfile			503 /usr/local/etc/haproxy/errors/armedia-error-503.http
#	errorfile			504 /usr/local/etc/haproxy/errors/armedia-error-504.http

#---------------------------------------------------------------------
# Management ports for haproxy
#---------------------------------------------------------------------
listen admin
	# Listen on all IP's on port 81
	bind				*:81
	mode				http
	stats				enable
	stats				hide-version
	stats				refresh 30s
	stats				realm HAProxy\ Statistics
	stats				uri /
	stats				admin if TRUE
	# TODO: Render a different password?
	stats				auth admin:admin

listen stats
	# Listen on all IP's on port 9000
	bind				*:9600
	mode				http
	stats				enable
	stats				refresh 60s
	stats				show-node
	stats				uri /

#---------------------------------------------------------------------
# Cluster Peer Definitions
#---------------------------------------------------------------------
resolvers k8s
	parse-resolv-conf
	hold nx 10s
	hold refused 10s
	hold timeout 10s
	hold other 10s
	hold valid 10s
	hold obsolete 10s

#---------------------------------------------------------------------
# Front End Definitions
#---------------------------------------------------------------------
frontend healthz
	mode				http
	bind				*:18443 force-tlsv12 ssl crt /.ssl/haproxy-cert.pem alpn h2,http/1.1
	monitor-uri			/healthz
	http-request		use-service	lua.send-404
	no					log

frontend https
	mode				http
	bind				*:8443 force-tlsv12 ssl crt /.ssl/haproxy-cert.pem alpn h2,http/1.1
	redirect			scheme https unless { ssl_fc }

	#
	# ACL to help route ingress traffic
	#
	acl					ingress hdr(host),host_only -m str -i env(INGRESS_HOST)

	#
	# ACLs to help route to the core service
	#
	acl					core hdr(host),host_only -m reg -i ^core(\.([a-z0-9][-a-z0-9]*)?[a-z0-9])*$
	acl					core_path path -m reg ^/arkcase(/.*)?$
	acl					root_path path -m str /

	#
	# ACLs to help route to the reports service
	#
	acl					reports hdr(host),host_only -m reg -i ^reports(\.([a-z0-9][-a-z0-9]*)?[a-z0-9])*$
	acl					reports_path path -m reg ^/pentaho(/.*)?$

	#
	# Backend selections
	#
	use_backend			reports if reports or ingress reports_path
	use_backend			core if core or ingress core_path or ingress root_path

	default_backend		static

#---------------------------------------------------------------------
# Back End Definitions
#---------------------------------------------------------------------
backend static
	mode			http
	errorfile		400 /usr/local/etc/haproxy/errors/400.http
	errorfile		403 /usr/local/etc/haproxy/errors/403.http
	errorfile		408 /usr/local/etc/haproxy/errors/408.http
	errorfile		500 /usr/local/etc/haproxy/errors/500.http
	errorfile		502 /usr/local/etc/haproxy/errors/502.http
	errorfile		503 /usr/local/etc/haproxy/errors/503.http
	errorfile		504 /usr/local/etc/haproxy/errors/504.http

backend core
	mode			http
	option			httpchk
	http-check		send meth GET uri /arkcase/login
	cookie			SERVER_USED insert indirect nocache dynamic maxidle 30m maxlife 8h
	stick-table		type string len 32 size 30k expire 60m peers cluster
	stick			store-response res.cook(JSESSIONID)
	stick			on req.cook(JSESSIONID)
	tcp-request		content track-sc0 req.cook(JSESSIONID)
	http-request	set-log-level info
	# Here we use the pod name as the cookie value, so it's easier
	# for us to track in the statistics, should we need to
	server-template	core- 0-99 _https._tcp.core-dns.${DNS_NAMESPACE}.svc.${CLUSTER_DOMAIN} resolvers k8s fall 3 rise 2 check inter 10s check ssl verify required ca-file /.ssl/ca-chain.pem

backend reports
	mode			http
	option			httpchk
	http-check		send meth GET uri /pentaho
	cookie			SERVER_USED insert indirect nocache dynamic maxidle 30m maxlife 8h
	stick-table		type string len 32 size 30k expire 60m peers cluster
	stick			store-response res.cook(JSESSIONID)
	stick			on req.cook(JSESSIONID)
	tcp-request		content track-sc0 req.cook(JSESSIONID)
	http-request	set-log-level info
	# Here we use the pod name as the cookie value, so it's easier
	# for us to track in the statistics, should we need to
	server-template	reports- 0-99 _https._tcp.reports-dns.${DNS_NAMESPACE}.svc.${CLUSTER_DOMAIN} resolvers k8s fall 3 rise 2 check inter 10s check ssl verify required ca-file /.ssl/ca-chain.pem

#---------------------------------------------------------------------
# End of file
#---------------------------------------------------------------------
