{{- $acm3ds := (include "arkcase.pentaho.acm3ds" $) -}}
<?xml version="1.0" encoding="UTF-8"?>
<Context path="/pentaho" docbase="webapps/pentaho/">
  <Resource name="jdbc/{{ $acm3ds }}" auth="Container" type="javax.sql.DataSource"
            factory="org.pentaho.di.core.database.util.DecryptingDataSourceFactory"
            driverClassName="${REPORTS_JDBC_ARKCASE_DRIVER}"
            initialSize="0"
            maxActive="20"
            maxIdle="5"
            maxWait="10000"
            minIdle="0"
            password="${REPORTS_JDBC_ARKCASE_PASSWORD}"
            testOnBorrow="true"
            url="${REPORTS_JDBC_ARKCASE_URL}"
            username="${REPORTS_JDBC_ARKCASE_USERNAME}"
            validationQuery="${REPORTS_JDBC_ARKCASE_VALIDATION_QUERY}"
            />

  <Resource name="jdbc/Hibernate" auth="Container" type="javax.sql.DataSource"
            factory="org.pentaho.di.core.database.util.DecryptingDataSourceFactory"
            defaultAutoCommit="true"
            driverClassName="${REPORTS_JDBC_HIBERNATE_DRIVER}"
            initialSize="0"
            jdbcInterceptors="ConnectionState"
            maxActive="20"
            maxIdle="5"
            maxWait="10000"
            minIdle="0"
            password="${REPORTS_JDBC_HIBERNATE_PASSWORD}"
            testOnBorrow="true"
            url="${REPORTS_JDBC_HIBERNATE_URL}"
            username="${REPORTS_JDBC_HIBERNATE_USERNAME}"
            validationQuery="${REPORTS_JDBC_HIBERNATE_VALIDATION_QUERY}"
            />

  <Resource name="jdbc/Audit" auth="Container" type="javax.sql.DataSource"
            factory="org.pentaho.di.core.database.util.DecryptingDataSourceFactory"
            driverClassName="${REPORTS_JDBC_HIBERNATE_DRIVER}"
            initialSize="0"
            maxActive="20"
            maxIdle="5"
            maxWait="10000"
            minIdle="0"
            password="${REPORTS_JDBC_HIBERNATE_PASSWORD}"
            testOnBorrow="true"
            url="${REPORTS_JDBC_HIBERNATE_URL}"
            username="${REPORTS_JDBC_HIBERNATE_USERNAME}"
            validationQuery="${REPORTS_JDBC_HIBERNATE_VALIDATION_QUERY}"
            />

  <Resource name="jdbc/Quartz" auth="Container" type="javax.sql.DataSource"
            factory="org.pentaho.di.core.database.util.DecryptingDataSourceFactory"
            driverClassName="${REPORTS_JDBC_QUARTZ_DRIVER}"
            initialSize="0"
            maxActive="20"
            maxIdle="5"
            maxWait="10000"
            minIdle="0"
            password="${REPORTS_JDBC_QUARTZ_PASSWORD}"
            testOnBorrow="true"
            url="${REPORTS_JDBC_QUARTZ_URL}"
            username="${REPORTS_JDBC_QUARTZ_USERNAME}"
            validationQuery="${REPORTS_JDBC_QUARTZ_VALIDATION_QUERY}"
            />

  <Resource name="jdbc/PDI_Operations_Mart" auth="Container" type="javax.sql.DataSource"
            factory="org.pentaho.di.core.database.util.DecryptingDataSourceFactory"
            driverClassName="${REPORTS_JDBC_HIBERNATE_DRIVER}"
            initialSize="0"
            maxActive="20"
            maxIdle="5"
            maxWait="10000"
            minIdle="0"
            password="${REPORTS_JDBC_HIBERNATE_PASSWORD}"
            testOnBorrow="true"
            url="${REPORTS_JDBC_HIBERNATE_URL}"
            username="${REPORTS_JDBC_HIBERNATE_USERNAME}"
            validationQuery="${REPORTS_JDBC_HIBERNATE_VALIDATION_QUERY}"
            />

  <Resource name="jdbc/pentaho_operations_mart" auth="Container" type="javax.sql.DataSource"
            factory="org.pentaho.di.core.database.util.DecryptingDataSourceFactory"
            driverClassName="${REPORTS_JDBC_HIBERNATE_DRIVER}"
            initialSize="0"
            maxActive="20"
            maxIdle="5"
            maxWait="10000"
            minIdle="0"
            password="${REPORTS_JDBC_HIBERNATE_PASSWORD}"
            testOnBorrow="true"
            url="${REPORTS_JDBC_HIBERNATE_URL}"
            username="${REPORTS_JDBC_HIBERNATE_USERNAME}"
            validationQuery="${REPORTS_JDBC_HIBERNATE_VALIDATION_QUERY}"
            />

  <Resource name="jdbc/live_logging_info" auth="Container" type="javax.sql.DataSource"
            factory="org.pentaho.di.core.database.util.DecryptingDataSourceFactory"
            driverClassName="${REPORTS_JDBC_HIBERNATE_DRIVER}"
            initialSize="0"
            maxActive="20"
            maxIdle="5"
            maxWait="10000"
            minIdle="0"
            password="${REPORTS_JDBC_HIBERNATE_PASSWORD}"
            testOnBorrow="true"
            url="${REPORTS_JDBC_HIBERNATE_URL}"
            username="${REPORTS_JDBC_HIBERNATE_USERNAME}"
            validationQuery="${REPORTS_JDBC_HIBERNATE_VALIDATION_QUERY}"
            />

  <Resource name="jdbc/jackrabbit" auth="Container" type="javax.sql.DataSource"
            factory="org.pentaho.di.core.database.util.DecryptingDataSourceFactory"
            driverClassName="${REPORTS_JDBC_JACKRABBIT_DRIVER}"
            initialSize="0"
            maxActive="20"
            maxIdle="5"
            maxWait="10000"
            minIdle="0"
            password="${REPORTS_JDBC_JACKRABBIT_PASSWORD}"
            testOnBorrow="true"
            url="${REPORTS_JDBC_JACKRABBIT_URL}"
            username="${REPORTS_JDBC_JACKRABBIT_USERNAME}"
            validationQuery="${REPORTS_JDBC_JACKRABBIT_VALIDATION_QUERY}"
            />

  <!--
    Any DataSources below this line are added by configuration and only exist
    to support any PDI DataWarehousing jobs or extra Mondrian schemata
  -->
{{- include "arkcase.pentaho.extraDataSources.context-xml" $ | nindent 2 }}
  <!--
    End of custom data sources
  -->
</Context>
